<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.vacation.domain.employee.mapper.EmployeeMapper">

    <select id="findById" parameterType="int" resultType="Employee" >
        select * from employee e where e.id = #{id}
    </select>

    <select id="findByEmail" parameterType="String" resultType="Employee" >
        select * from employee e where e.email = #{email}
    </select>

    <select id="findByOauthId" parameterType="String" resultType="Employee" >
        select * from employee e where e.oauth_id = #{oauthId}
    </select>


<!--    <insert id="save" parameterType="EmployeeCreate">

        <selectKey order="BEFORE" keyProperty="id" resultType="int">
            select employee_seq.nextval from dual
        </selectKey>

        INSERT INTO Employee(id, name, hire_date, email,password, phone_number, vacation_days, join_state)
        VALUES (#{id}, #{name}, systimestamp, #{email},#{password}, #{phoneNumber}, #{vacationDays}, 'FALSE')

    </insert>-->
    <insert id="save" parameterType="EmployeeCreate">

        <selectKey order="BEFORE" keyProperty="id" resultType="int">
            select employee_seq.nextval from dual
        </selectKey>

        INSERT INTO Employee (
        id,
        name,
        hire_date,
        oauth_id,
        email,
        password,
        dept_id,
        position,
        authority,
        phone_number,
        vacation_days,
        join_state
        )
        VALUES (
        #{id},
        #{name, jdbcType=VARCHAR},
        systimestamp,
        #{oauthId, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{deptId, jdbcType=INTEGER},
        #{position, jdbcType=VARCHAR},
        #{authority, jdbcType=VARCHAR},
        #{phoneNumber, jdbcType=VARCHAR},
        #{vacationDays, jdbcType=INTEGER},
        'FALSE'
        )

    </insert>

    <update id="update" parameterType="EmployeeUpdate">

        UPDATE Employee
        SET
        name = #{name, jdbcType=VARCHAR},
        hire_date = #{hireDate},
        email = #{email},
        dept_id = #{deptId},
        position = #{position},
        authority = #{authority}
        where id = #{id}

    </update>


    <resultMap id="myInfoResultMap" type="com.kcc.vacation.domain.employee.dto.response.MyInfo">
        <id column="id" property="id"/>
        <result column="empName" property="empName"/>
        <result column="deptName" property="deptName"/>
        <result column="position" property="position"/>
        <result column="hire_date" property="hireDate"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="email" property="email"/>
    </resultMap>

    <select id="getMyInfo" resultMap="myInfoResultMap">
        SELECT e.id, e.name AS empName, d.name AS deptName, e.position, e.hire_date, e.phone_number, e.email
        FROM employee e
        JOIN department d ON e.dept_id = d.id
        WHERE e.id = #{employeeId}
    </select>

    <update id="updateMyInfo">
        UPDATE employee SET phone_number = #{updateMyInfo.phoneNumber}, email = #{updateMyInfo.email}
        WHERE id = #{updateMyInfo.id}
    </update>


    <update id="updateSocialData" parameterType="EmployeeSocialDataUpdate">
        update employee set oauth_id = #{oauthId}, join_state = 'TRUE'
        where id = #{id}
    </update>

    <update id="updateFormLoginData" parameterType="EmployeeFormLoginDataUpdate">
        update employee
        set
        phone_number = #{phoneNumber, jdbcType=VARCHAR},
        password = #{password, jdbcType=VARCHAR},
        join_state = 'TRUE'
        where id = #{id}
    </update>


    <update id="updateAuthenticationCode" parameterType="EmployeeAuthenticationCodeUpdate">
        update employee set authentication_code = #{authenticationCode}
        where id = #{id}
    </update>

    <update id="updateVerified" parameterType="EmployeeVerifiedUpdate">
        update employee set verified = #{verified}
        where email = #{email}
    </update>

    <resultMap id="EmployeeResultMap" type="EmployeeDetail">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="hireDate" column="hire_date"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="vacationDays" column="vacation_days"/>
        <result property="joinState" column="join_state"/>
        <result property="deptName" column="dept_name"/>
        <result property="position" column="position"/>
        <result property="authority" column="authority"/>
        <result property="verified" column="verified"/>
    </resultMap>

    <!-- SQL to select an employee by ID with department info -->
    <select id="findAll" parameterType="int" resultMap="EmployeeResultMap">
        SELECT e.id, e.name, e.password, e.hire_date, e.email, e.phone_number,
        e.vacation_days, e.join_state, d.name AS dept_name,
        e.position, e.authority, e.verified
        FROM employee e
        JOIN department d ON e.dept_id = d.id
    </select>

    <!-- SQL to select an employee by ID with department info -->
    <select id="findEmployeeDetailById" parameterType="int" resultMap="EmployeeResultMap">
        SELECT e.id, e.name, e.password, e.hire_date, e.email, e.phone_number,
        e.vacation_days, e.join_state, d.name AS dept_name,
        e.position, e.authority, e.verified
        FROM employee e
        JOIN department d ON e.dept_id = d.id
        WHERE e.id = #{id}
    </select>


    <delete id="delete" parameterType="int">
        DELETE FROM employee
        WHERE id = #{id}
    </delete>


</mapper>
