<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.sbb.domain.post.mapper.PostMapper">

    <select id="getList" resultType="Post" >
        select * from post
    </select>

    <resultMap id="postMap" type="Post">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="writer_id" property="writerId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <collection column="id" javaType="java.util.List" ofType = "Comment" property="comments" select="com.sbb.domain.comment.mapper.CommentMapper.getListByPostId"/>
    </resultMap>

    <select id="getById" resultMap="postMap" >
        select * from post where post.id = #{postId}
    </select>


    <insert id="save" parameterType="Post">

        <selectKey order="BEFORE" keyProperty="id" resultType="int">
            select post_seq.nextval from dual
        </selectKey>

        insert into post
        values(#{id}, #{title}, #{content}, #{writer} ,systimestamp, systimestamp)

    </insert>

</mapper>

