<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.kcc.vacation.domain.vacationcancel.mapper.VacationCancelMapper">

    <insert id="insertCancelReq" parameterType="CancelVacation">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT vacation_cancel_seq.nextval FROM dual
        </selectKey>
        INSERT INTO vacation_cancel(id, status, cancel_date, comments, vacation_request_id, cancel_approver_id)
        VALUES (#{id}, '취소 대기', systimestamp, #{comments}, #{vacationRequestId}, #{cancelApproverId})
    </insert>

    <resultMap id="adminVacationCancelMap" type="VacationCancelDetail">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="cancel_date" property="cancelDate" />
        <result column="comments" property="comments" />
        <result column="commentsOfApprover" property="commentsOfApprover" />
        <result column="cancel_approve_date" property="cancelApproveDate" />

        <result column="vacation_request_id" property="vacationRequestId" />
        <result column="cancel_approver_id" property="cancelApproverId" />
        <!-- 추가된 필드들 -->
        <result column="started_date" property="requestStartDate"/>
        <result column="end_date" property="requestEndDate"/>
        <result column="requester_name" property="requesterName"/>
        <result column="approver_name" property="approverName"/>
    </resultMap>

    <select id="getVacationCancelListByApproverId" parameterType="int" resultMap="adminVacationCancelMap">
        SELECT
            vc.id,
            vc.status,
            vc.cancel_date,
            vc.comments,
            vc.commentsOfApprover,
            vc.cancel_approve_date,
            vc.vacation_request_id,
            vc.cancel_approver_id,
            vr.started_date,
            vr.end_date,
            e.name AS requester_name,
            e2.name AS approver_name
        FROM
            vacation_cancel vc
                JOIN vacation_request vr ON vc.vacation_request_id = vr.id
                JOIN employee e ON vr.emp_id = e.id
                JOIN employee e2 ON vc.cancel_approver_id = e2.id
        WHERE
            vc.cancel_approver_id = #{approverId}
    </select>

    <update id="approveVacation">
        update vacation_cancel set status='취소 완료'where id = #{cancelId}
    </update>

    <update id="rejectVacation">
        update vacation_cancel set status='취소 거절' where id = #{cancelId}
    </update>

    <update id="UpdateApproverComments">
        update vacation_cancel set commentsOfApprover = #{commentsOfApprover} where id = #{cancelId}
    </update>


</mapper>

