<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.kcc.vacation.domain.vacationtype.mapper.VacationTypeMapper">

    <resultMap id="VacationTypeDetailMap" type="VacationTypeDetail">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="created_date" property="created_date"/>
        <result column="updated_date" property="updated_date"/>
        <result column="max_days" property="max_days"/>
        <result column="is_paid" property="is_paid"/>
    </resultMap>

    <select id="getAllVacationTypes" resultMap="VacationTypeDetailMap">
        SELECT * FROM vacation_type
    </select>


    <select id="getVacationById" resultMap="VacationTypeDetailMap">
        SELECT * from vacation_type where id = #{id}
    </select>


    <insert id="insertVacationType" parameterType="VacationTypeDetail">
        INSERT INTO vacation_type (id,name, created_date, updated_date, max_days, is_paid)
        VALUES (vacation_type_seq.NEXTVAL,#{name}, sysdate,sysdate, #{max_days}, #{is_paid} )

    </insert>

    <delete id="deleteVacationTypes" parameterType="java.util.List">
        DELETE FROM vacation_type
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateVacationType" parameterType="VacationTypeUpdateDTO">
        UPDATE vacation_type
        SET
            name = #{name},
            max_days = #{max_days},
            is_paid = #{is_paid}
        WHERE id = #{id}
    </update>

</mapper>

